<!-- <p>about works!</p>


<h1> Date Pipe Example</h1>

 <h1>

    Date: {{ dateToday  }} <br>

    Date Pipe: {{ dateToday | date | uppercase}}<br>

    Date Pipe: {{ dateToday | date: 'short' | lowercase}} <br>


</h1>

 <p>{{title | uppercase}}</p>
 <p>{{title | lowercase}}</p>


 <h1>Currency Pipe</h1>
      <b>{{6589.23 | currency:"USD"}}</b><br/>
      <b>{{6589.23 | currency:"USD":true}}</b><br/>
      <b>{{6589.23 | currency:"INR":true}}</b>


      <h1>Date pipe</h1>
      <b>{{todaydate | date:'shortDate'}}</b><br/>
      <b>{{todaydate | date:'longDate'}}</b><br/>
      <b>{{todaydate | date:'d/M/y'}}</b><br/>
      <b>{{todaydate | date:'dd/MM/yyyy'}}</b><br/>
      <b>{{todaydate | date:'longTime'}}</b><br>
      <b>{{todaydate | date:'shortTime'}}</b><br>

       
      <h1>Decimal Pipe</h1>
      <b>{{ 454.78787814 | number: '3.1' }}</b>

      <div style = "width:40%;float:left;border:solid 1px black;">
        <h1>Json Pipe</h1>
        <b>{{ myjson | json }}</b>
        <h1>Percent Pipe</h1>
        <b>{{00.999 | percent}}</b>
        <h1>Slice Pipe</h1>
        <b>{{months | slice:2:11}}</b> 
     </div>

     <h1>Custom Pipe</h1>
<b>Square root of 25 is: {{25 | sqrt}}</b>
<br/>
<b>Square root of 729 is: {{729 | sqrt}}</b>
      


       -->